# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Données volumineuses (ne pas pousser sur GitHub)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/samples/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
